# Python
__pycache__/
*.pyc
.venv/

# Sensitive config
env/
source/bot_data.pickle
.mypy_cache/

isthisalis-home-adress.md
sex-with-ramses666.mp4
**/opencode-sessions/

bot-data/personality-public.md
bot-data/phrases.json
bot-data/personality.md
bot-data/banned-users.json

info/botinfo.md
source/pibot.py.BACKUP.txt
info/documentation.json
CODE-REVIEW/
